@font-face {
  font-family: firaSansRegular;
  src: url("../fonts/FiraSans-Medium.ttf");
}

body {
  margin: 0;
  font-family: firaSansRegular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f6f6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
